.HomeIntroductionContainer {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 1rem auto 0;

  @media (max-width: 720px) {
    flex-direction: column;
  }

  img {
    height: 200px;
    margin-right: 1rem;
    border-radius: 5%;
  }
}
