.postContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;

  img {
    max-width: 100%;
  }

  .postHeader {
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  @media (max-width: 680px) {
    pre {
      overflow: scroll;
    }
  }
}
