.headerContainer {
  width: 100%;
  border-bottom: 1px solid #bfc0c4;
  background-color: var(--bg-main);
  position: sticky;
  top: 0;
  z-index: 9999;

  @media (max-width: 720px) {
    height: 4rem;
  }

  @media (min-width: 720px) {
    height: 5rem;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;

  @media (max-width: 720px) {
  h1 {
    font-size: 1rem;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    margin-left: auto;

    a {
      margin-right: 1rem;

      @media (min-width: 720px) {
        font-size: 1.5rem;
      }

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
