.myStackContainer {
  width: 60%;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 680px) {
    width: 80%;
  }

  h2 {
    margin: 2rem 0;
  }

  .badges {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem 0;
    justify-content: center;

    div {
      margin: .5rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        margin-top: .5rem;
      }

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
